#footer {
    background-color: #333;
    color: white;
    padding: 1.5em 0;
  
    .container {
      display: flex;
      justify-content: space-between;
  
      .social-icons {
        a {
          color: white;
          margin-right: 10px;
        }
      }
  
      .footer-nav {
        ul {
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: center;
  
          li {
            margin: 0 15px;
          }
        }
      }
  
      p {
        margin: 0;
      }
    }
  }
  