// src/scss/components/_footer.scss

#footer {
    background-color: #333;
    color: white;
    padding: 2em 0;
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .social-icons a {
        margin-right: 0.5rem;
        color: #fff;
        font-size: 1.2rem;
      }
  
      .secondary-nav {
        ul {
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: center;
  
          li {
            margin: 0 15px;
          }
        }
      }
    }
    p {
      margin: 0;
    }
  }
  