#latest-blogs {
    background-color: #fff;
    padding: 2em 0;
  
    .blog-card {
      margin: 20px;
      padding: 20px;
      border: 1px solid #ccc;
    }
  
    .read-more {
      color: #007bff;
      text-decoration: none;
    }
  }
  