#testimonials {
    background-color: #f9f9f9;
    padding: 2em 0;
  
    .testimonial-wrapper {
      display: flex;
      justify-content: space-between;
  
      .testimonial { /* updated class name */
        width: 45%; /* Adjust as needed */
        p {
          font-size: 1.1em;
        }
        small {
          display: block;
          text-align: right;
          margin-top: 10px;
          font-style: italic;
        }
      }
    }
  }