#testimonials {
    background-color: #f9f9f9;
    padding: 2em 0;
  
    .testimonial-wrapper {
      display: flex;
      justify-content: space-between;
  
      .testimonial { /* updated class name */
        width: 45%; /* Adjust as needed */
        p {
          font-size: 1.1em;
        }
        small {
          display: block;
          text-align: right;
          margin-top: 10px;
          font-style: italic;
        }
      }
    }
  }
  #latest-blogs {
    background-color: #fff;
    padding: 2em 0;
  
    .blog-post-wrapper {
      display: flex;
      justify-content: space-between;
  
      .blog-post {
        width: 45%; /* Adjust as needed */
        img {
          max-width: 100%;
          height: auto;
        }
        h3 {
          font-size: 1.4em;
        }
        p {
          font-size: 1em;
        }
        .read-more {
          text-decoration: none;
          color: #007bff;
        }
      }
    }
  }
  