#menu {
  background-color: #ffffff;
  padding: 2em 0;
  position: relative; // Adding relative position so z-index takes effect

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1em;
  }
}

.menu-tabs {
  display: flex;
  list-style: none;
  margin-bottom: 20px;
  z-index: 1; // Lower than cart-sidebar

  li {
    margin-right: 20px;
    a {
      text-decoration: none;
      color: #333;
      &:hover,
      &.active {
        color: #007bff;
      }
    }
  }
}

.menu-content {
  z-index: 1; // Lower than cart-sidebar
  position: relative; // To make z-index effective

  .tab-content {
    display: none;

    &.active {
      display: block;
    }
  }

  .dish-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.dish-item {
  position: relative;
  margin: 15px;
  overflow: hidden;

  picture,
  img {
    width: 100%;
    height: auto;
  }

  &:hover .add-to-cart {
    opacity: 1;
  }

  .add-to-cart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1.2em;
    text-align: center;
    line-height: 30%;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }
}

.cart-sidebar {
  z-index: 100; // A high z-index to appear above everything else
  position: fixed;
  right: -400px;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  color: white;

  h2 {
    padding: 20px;
    background-color: #333;
    margin: 0;
  }

  .close-cart {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }

  .cart-items {
    padding: 20px;
  }

  .cart-total {
    padding: 20px;
    border-top: 1px solid #444;
  }
}
// Toast Styles
#toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  z-index: 1000;
  transition: all 0.5s ease;
}

.toast-hidden {
  opacity: 0;
  pointer-events: none;
}

.toast-visible {
  opacity: 1;
  pointer-events: auto;
}
